/*Holmes colors: 406695 blue, #ff8b2c yellow, #c92459 magenta*/

:root {
    --holmes-blue: #406695;
    --lighter-holmes-blue: #6184AE;
    --holmes-yellow:#ff8b2c;
    --off-white: #EEEEEE;
}

body {
    background:url("img/background.jpg");
    background-size: cover;
    background-position: center;
}

.logo {
    width: 90%;
    /*height: 90%;*/
    margin: 0px 5px 0px 5px;
}

.page {
	display: grid;
  	grid-template-columns: 20% 80%;
}

.menu {
	background-color: var(--off-white);
	border: 2px solid var(--holmes-blue);
	border-radius: 5px;
	margin: 5px;
	padding: 1em;
	font-family: "Bebas Neue", sans-serif;
}

.menu_links {
	/*direction of links*/
	display: flex;
	flex-direction: column;
	/*styling of links*/
	font-size: 1.2em;
}

.subcontents {
	list-style-type: none;
	line-height: 1em;
	color: var(--holmes-blue);
}

.menu-link {
    margin: 5px 5px 5px 15px;
    color: var(--holmes-blue);
}

.activePage {
    color: var(--holmes-yellow);
}

.content {
	/*positioning*/
	margin: 5px;
	padding: 1em 3em 1em 3em;

	/*border*/
	border: 2px solid var(--holmes-blue);
	border-radius: 5px;

	/*text*/
	line-height: 1.4;
	background-color: var(--off-white);
	font-size: 1em;
	font-family: serif;

	display:flex;
	flex-direction: column;*/
}

.content img {
	align-self: center;
	width: 95%;
}

.investitures {
	display: grid;
  	grid-template-columns: 30% 20% 50%;
  	font-family: monospace;
}

.awards {
	display: grid;
  	grid-template-columns: 30% 70%;
}

.fakename {
	color: green;
	font-weight: bold;
}

.investitures span {
	padding: 10px 0px 10px 0px;
}	

.awards {
	font-family: sans-serif;
}

.VR, .r3 {
	color: red;
	font-weight: bold;
}

.twoshilling, .g3 {
	color: green;
	font-weight: bold;
}

.amick, .b3 {
	font-weight: bold;
	color: blue;
}

.brodie {
	font-weight: bold;
	color: purple;
}

.o3 {
	font-weight: bold;
	color: orange;
}

.schw, .cadet {
	font-weight: bold;
	color: cadetblue;
}

.prescot {
	font-weight: bold;
	color: #000066;
}

.reg {
	font-weight: bold;
}

.howard {
	font-weight: bold;
	color: lightcoral;	
}


.events {
	align-self:center;
	margin: 10px;
	padding: 10px;

	/*border*/
	border: 4px solid #406695;
	border-radius: 5px;
}

.email {
	align-self: center;
}

.homepage {
	line-height: 1;
	background-color: var(--off-white);
	font-size: 1.1em;
}

.officers {
	display: grid;
  	grid-template-columns: 33% 34% 33%;
  	list-style-type: none;
  	line-height: 1.1em;
}

footer {
	/*direction of footer*/
	display:flex;
	justify-content: space-between;
	/*styling of footer*/
}

/* SOME MOBILE TWEAKS */
@media screen and (max-width: 650px) {
	.logo {
		display: none;
	}

	.page {
		display: flex;
		flex-direction: column;
	  	/*grid-template-columns: 20% 80%;*/
	}

	.menu {
		background-color: var(--off-white);
		border: 2px solid var(--holmes-blue);
		border-radius: 5px;
		margin: 5px;
		padding: 1em;
		font-family: "Bebas Neue", sans-serif;
	}

	.menu_links {
		/*direction of links*/
		display: grid;
		grid-template-columns: 20% 20% 20% 20% 20%;
		/*styling of links*/
		font-size: 1em;
	}

	.subcontents {
		display: none;
	}
}
